
*{
    margin:0;
    padding: 0;
    transition: 0.7s ease-in-out;
  }
  
  .slides{
    overflow: hidden;
    height: 650px;
    max-height: 100%;
  }
  .slides figure div{
    width:20%;
    float: left;
  }
  .slides figure img{
    width:100%;
    float: left;
    height: 650px;
    max-height:100%;
  }
  .test{
    height: 650px;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
  }
  .slides figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slidy infinite;
  }
  .content p{
    z-index: 1000;
    position:absolute;
    text-align: center;
    width:20%;
    padding:100px;
    font-family: 'Acme', sans-serif;
    color: white;
    font-size: 5em;
    padding-top: 200px;
    padding-left: 15px;
  }
  span{
    font-size: 0.5em;
    font-family: 'Delius', cursive;
  }
  .content{
    float:left;
    width:25%;
    background-image: url(https://bit.ly/2vXevya);
  }
  
  /* The arrow. Keyframes animate it. */
  .arrow{
    position: absolute;
    margin-top: -100px;
    text-align: center;
    left: 50%;
    transform: translate(-50);
    color: White;
    font-size: 3em;
    font-weight: 900;
    animation: 0.2s change infinite;
  }
  #image{
    margin-left:500px;
  }
  @keyframes change {
    0%{
      margin-top: -90px;
    }
    50%{
      margin-bottom: -110px;
      text-shadow: 0 0 10px black;
    }
  }
  
  
  
  
  
  
  
  
  header{
    background-color: black;
    width:100%;
  
  }

  nav{
    float: right;
    margin-top: 28px;
  }
  nav>ul>li{
    display:inline;
    margin-right: 30px;
   
    
    
  
  }
  nav>ul>li>a{
    text-decoration:none;
  }
  nav>ul>li>a:hover{
    color: rgb(253,192,13);;
  }
  .form button:hover, .form button:active{
    background-color: rgb(10, 53, 8);
  
  }
  .form .message a{
    text-decoration: none;
  }
  
  
  
  footer>p{
    float:left;
  }
  #contacts-form {
    
    width:700px;
    z-index: 1;
    background-position: relative;
    padding:30px;
    margin:0 auto 100px;
    margin-top: 1%;
    font-family: 'News Cycle', sans-serif;
   
    /* text-align: center; */
  }
  #contacts-form input{
    outline: 1;
    width: 100%;
    border: 0;
    margin-bottom: 10px;
    padding: 15px;
    box-sizing:border-box;
    background-color:#f2f2f2;
    font-family: 'News Cycle', sans-serif;
  }
  #contacts-form button{
    background-color: rgb(253,192,13);;
    color: #ffffff;
    width: 100%;
    padding: 15px;
    cursor: pointer;
    border: 0;
    font-family: 'News Cycle', sans-serif;
  }
  main>div{
    margin-right:40px;
    background-color: rgba(34, 145, 17, 0.6);
    flex-grow: 1;
    /* box-sizing: border-box; */
    width: 400px;
    padding: 20px;
    padding-top: 10px;
  
  }
  section img{
    width:250px;
    height: 200px
  }
  section div{
    width:300px;
    margin-left: 40px;
  }
  
  .one{
    display: flex;
    justify-content:space-around;
    margin-right: 40px;
    margin-left: 40px;
    padding: 30px;
  }
  .two{
    display: flex;
    justify-content:space-around;
    margin-right: 40px;
    margin-left: 40px;
    padding: 30px;
  }
  .three{
    display: flex;
    justify-content:space-around;
    margin-right: 40px;
    margin-left: 40px;
    padding: 30px;
  }
  
  #radio{
    text-align: center;
    margin-left: 600px;
    margin-right: 600px; 
    padding-top: 40px;
     margin: 0 auto 0;
    text-align: left;
    margin-left: 390px;
  
  }
  h2{
    color: rgb(253,192,13);;
     text-align: center; 
  }
  
  .copy p{
  
  text-align: center;
  color:black;
  font-size: small;
  margin-top: 2px;
  }
  
  
  .team div{
    width: 350px;
    height:300px;
  }
  .team img{
    width:250px;
    height:200px;
  }
  .team{
    display: flex;
    justify-content: space-around;
  }
  .projects{
    width: 60%;
    margin-right:100px;
    margin-left: 100px;
    text-align: center;
    font-family: 'News Cycle', sans-serif;
    
  
  }
  
  #projects div{
    margin-bottom: 60px;
    font-family: 'News Cycle', sans-serif;
  }
  
  a{
    color: grey;
    text-decoration: none;
    font-weight: bolder;
  }
  
  .three a{
    color: rgb(253,192,13);;
    text-decoration: none;
  }
  .three a:hover{
    color: black;
  
  }
  .two a{
    color: rgb(253,192,13);;
    text-decoration: none;
  }
  .two a:hover{
    color: black;
  
  }
  .one a{
    color: rgb(253,192,13);;
    text-decoration: none;
  }
  .one a:hover{
    color: black;
  }
  
  */
  .aboutme p{
    text-align: center;
  }
  #aboutme{
    padding-left:30px;
    padding-right: 30px;
    text-align: center;
    margin-top: 50px;
    font-family: 'News Cycle', sans-serif;
  
  }
  #projects{
    padding-left:30px;
    padding-right: 30px;
    text-align: center;
    margin-top: 50px;
    font-family: 'News Cycle', sans-serif;
  }

  #contact{
    padding-left:30px;
    padding-right: 30px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'News Cycle', sans-serif;
  }
  